USE [master]
GO
/****** Object:  Database [Rooppur Nuclear Power Plnat]    Script Date: 7/29/2019 6:17:20 AM ******/
CREATE DATABASE [Rooppur Nuclear Power Plnat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Rooppur Nuclear Power Plnat', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Rooppur Nuclear Power Plnat.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Rooppur Nuclear Power Plnat_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Rooppur Nuclear Power Plnat_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Rooppur Nuclear Power Plnat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Rooppur Nuclear Power Plnat]
GO
/****** Object:  Table [dbo].[Accommodation]    Script Date: 7/29/2019 6:17:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accommodation](
	[Apartment_No] [varchar](15) NOT NULL,
	[ID] [varchar](15) NULL,
 CONSTRAINT [Pk_Apartment_No] PRIMARY KEY CLUSTERED 
(
	[Apartment_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accomodation_INFO]    Script Date: 7/29/2019 6:17:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accomodation_INFO](
	[Apartment_No] [varchar](15) NOT NULL,
	[Building_No] [varchar](10) NULL,
	[Block_No] [varchar](5) NULL,
 CONSTRAINT [Pk_Apartment_Number] PRIMARY KEY CLUSTERED 
(
	[Apartment_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Designation]    Script Date: 7/29/2019 6:17:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designation](
	[Designation] [varchar](40) NOT NULL,
	[Working_Role] [varchar](30) NULL,
	[Salary] [int] NULL,
 CONSTRAINT [Pk_Designation] PRIMARY KEY CLUSTERED 
(
	[Designation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Time_slot]    Script Date: 7/29/2019 6:17:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Time_slot](
	[Shift_Id] [varchar](10) NOT NULL,
	[Week1_Sat_to_thu] [varchar](30) NULL,
	[Week2_Sat_to_thu] [varchar](30) NULL,
	[Week_1_extra_duty] [varchar](30) NULL,
	[Week_2_extra_duty] [varchar](30) NULL,
 CONSTRAINT [Pk_shift] PRIMARY KEY CLUSTERED 
(
	[Shift_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vacation_Date]    Script Date: 7/29/2019 6:17:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vacation_Date](
	[ID] [varchar](15) NOT NULL,
	[Start_Vac] [date] NOT NULL,
	[End_Vac] [date] NULL,
 CONSTRAINT [Pk_ID_Start_Vac] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[Start_Vac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Work_Place]    Script Date: 7/29/2019 6:17:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Work_Place](
	[Building_No_or_Place] [varchar](30) NOT NULL,
	[Sector_No] [varchar](20) NULL,
	[Sector_Name] [varchar](40) NULL,
 CONSTRAINT [Pk_place] PRIMARY KEY CLUSTERED 
(
	[Building_No_or_Place] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workers]    Script Date: 7/29/2019 6:17:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workers](
	[ID] [varchar](15) NOT NULL,
	[Worker_Name] [varchar](50) NULL,
	[Designation] [varchar](40) NULL,
	[Shift_ID] [varchar](10) NULL,
	[Work_Place] [varchar](30) NULL,
	[Worker_Age] [tinyint] NULL,
	[Address1] [varchar](90) NULL,
	[Address2] [varchar](90) NULL,
	[Phone_No] [varchar](20) NULL,
	[Joining_date] [date] NULL,
 CONSTRAINT [Pk_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Working_Role]    Script Date: 7/29/2019 6:17:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Working_Role](
	[Role_title] [varchar](30) NOT NULL,
	[Unit] [varchar](40) NULL,
	[Minimum_Required_Workers] [smallint] NULL,
 CONSTRAINT [Pk_Role] PRIMARY KEY CLUSTERED 
(
	[Role_title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Accommodation] ([Apartment_No], [ID]) VALUES (N'1001', N'20110001')
INSERT [dbo].[Accommodation] ([Apartment_No], [ID]) VALUES (N'1002', N'20170002')
INSERT [dbo].[Accommodation] ([Apartment_No], [ID]) VALUES (N'1003', N'20190008')
GO
INSERT [dbo].[Accomodation_INFO] ([Apartment_No], [Building_No], [Block_No]) VALUES (N'10001', N'10', N'3')
INSERT [dbo].[Accomodation_INFO] ([Apartment_No], [Building_No], [Block_No]) VALUES (N'10002', N'10', N'3')
INSERT [dbo].[Accomodation_INFO] ([Apartment_No], [Building_No], [Block_No]) VALUES (N'10003', N'10', N'3')
GO
INSERT [dbo].[Designation] ([Designation], [Working_Role], [Salary]) VALUES (N'Advocate', N'Lawyers', 80000)
INSERT [dbo].[Designation] ([Designation], [Working_Role], [Salary]) VALUES (N'Carpenter', N'Carpenters/Machanics', 35000)
INSERT [dbo].[Designation] ([Designation], [Working_Role], [Salary]) VALUES (N'Cheif Guard Officer', N'Guards', 60000)
INSERT [dbo].[Time_slot] ([Shift_Id], [Week1_Sat_to_thu], [Week2_Sat_to_thu], [Week_1_extra_duty], [Week_2_extra_duty]) VALUES (N'G1', N'7am-2pm,7pm-2am', N'2pm-7pm,2am-7am', N'Saturday 9am-11.30am', N'Friday 9am-11.30am')
INSERT [dbo].[Time_slot] ([Shift_Id], [Week1_Sat_to_thu], [Week2_Sat_to_thu], [Week_1_extra_duty], [Week_2_extra_duty]) VALUES (N'G2', N'2pm-7pm,2am-7am', N'7am-2pm,7pm-2am', N'Friday 9am-11.30am', N'Saturday 9am-11.30am')
INSERT [dbo].[Time_slot] ([Shift_Id], [Week1_Sat_to_thu], [Week2_Sat_to_thu], [Week_1_extra_duty], [Week_2_extra_duty]) VALUES (N'W1', N'8am-1pm', N'1pm-6pm', N'Friday 9am-11.30am', N'Saturday 9am-11.30am')
INSERT [dbo].[Vacation_Date] ([ID], [Start_Vac], [End_Vac]) VALUES (N'20100011', CAST(N'2011-12-02' AS Date), CAST(N'2012-01-06' AS Date))
INSERT [dbo].[Vacation_Date] ([ID], [Start_Vac], [End_Vac]) VALUES (N'20100013', CAST(N'2015-12-01' AS Date), CAST(N'2015-12-21' AS Date))
INSERT [dbo].[Vacation_Date] ([ID], [Start_Vac], [End_Vac]) VALUES (N'20100014', CAST(N'2015-12-20' AS Date), CAST(N'2015-12-21' AS Date))
INSERT [dbo].[Work_Place] ([Building_No_or_Place], [Sector_No], [Sector_Name]) VALUES (N'Building-1', N'1', N'Control & managment')
INSERT [dbo].[Work_Place] ([Building_No_or_Place], [Sector_No], [Sector_Name]) VALUES (N'Building-10', N'5', N'Electricity Stor & Supply')
INSERT [dbo].[Work_Place] ([Building_No_or_Place], [Sector_No], [Sector_Name]) VALUES (N'Building-11', N'6', N'Power plant Electricity supply')
INSERT [dbo].[Workers] ([ID], [Worker_Name], [Designation], [Shift_ID], [Work_Place], [Worker_Age], [Address1], [Address2], [Phone_No], [Joining_date]) VALUES (N'20100011', N'Md. Tuhin Mia', N'Chief Electric Officer', N'W3', N'Building-11', 55, N'Pabna Rooppur', N'mirpur,Dhaka', N'+8801-607177773', CAST(N'2010-10-01' AS Date))
INSERT [dbo].[Workers] ([ID], [Worker_Name], [Designation], [Shift_ID], [Work_Place], [Worker_Age], [Address1], [Address2], [Phone_No], [Joining_date]) VALUES (N'20100013', N'Alim ', N'Chief Nuclear Officer', N'W1', N'Building-1', 55, N'Pabna Rooppur', N'cantonment,Dhaka', N'+8801-94783512', CAST(N'2010-11-02' AS Date))
INSERT [dbo].[Workers] ([ID], [Worker_Name], [Designation], [Shift_ID], [Work_Place], [Worker_Age], [Address1], [Address2], [Phone_No], [Joining_date]) VALUES (N'20100014', N'Md. Anik Hasan', N'Chief Nuclear Officer', N'W1', N'Building-1', 55, N'Pabna Rooppur', N'Bhola', N'+8801-61898414', CAST(N'2010-07-08' AS Date))
GO
INSERT [dbo].[Working_Role] ([Role_title], [Unit], [Minimum_Required_Workers]) VALUES (N'Accountants', N'Engineering & Professions', 25)
INSERT [dbo].[Working_Role] ([Role_title], [Unit], [Minimum_Required_Workers]) VALUES (N'Carpenters/Machanics', N'Skilled Trades', 10)
INSERT [dbo].[Working_Role] ([Role_title], [Unit], [Minimum_Required_Workers]) VALUES (N'Chemists', N'Technicians & Radiologists', 44)
ALTER TABLE [dbo].[Accommodation]  WITH CHECK ADD  CONSTRAINT [Fk_Apartment_No] FOREIGN KEY([Apartment_No])
REFERENCES [dbo].[Accomodation_INFO] ([Apartment_No])
GO
ALTER TABLE [dbo].[Accommodation] CHECK CONSTRAINT [Fk_Apartment_No]
GO
ALTER TABLE [dbo].[Accommodation]  WITH CHECK ADD  CONSTRAINT [Fk_ID] FOREIGN KEY([ID])
REFERENCES [dbo].[Workers] ([ID])
GO
ALTER TABLE [dbo].[Accommodation] CHECK CONSTRAINT [Fk_ID]
GO
ALTER TABLE [dbo].[Designation]  WITH CHECK ADD  CONSTRAINT [Fk_Role] FOREIGN KEY([Working_Role])
REFERENCES [dbo].[Working_Role] ([Role_title])
GO
ALTER TABLE [dbo].[Designation] CHECK CONSTRAINT [Fk_Role]
GO
ALTER TABLE [dbo].[Vacation_Date]  WITH CHECK ADD  CONSTRAINT [Fk_workr_ID] FOREIGN KEY([ID])
REFERENCES [dbo].[Workers] ([ID])
GO
ALTER TABLE [dbo].[Vacation_Date] CHECK CONSTRAINT [Fk_workr_ID]
GO
ALTER TABLE [dbo].[Workers]  WITH CHECK ADD  CONSTRAINT [Fk_designation] FOREIGN KEY([Designation])
REFERENCES [dbo].[Designation] ([Designation])
GO
ALTER TABLE [dbo].[Workers] CHECK CONSTRAINT [Fk_designation]
GO
ALTER TABLE [dbo].[Workers]  WITH CHECK ADD  CONSTRAINT [Fk_Shift] FOREIGN KEY([Shift_ID])
REFERENCES [dbo].[Time_slot] ([Shift_Id])
GO
ALTER TABLE [dbo].[Workers] CHECK CONSTRAINT [Fk_Shift]
GO
ALTER TABLE [dbo].[Workers]  WITH CHECK ADD  CONSTRAINT [Fk_Work_place] FOREIGN KEY([Work_Place])
REFERENCES [dbo].[Work_Place] ([Building_No_or_Place])
GO
ALTER TABLE [dbo].[Workers] CHECK CONSTRAINT [Fk_Work_place]
GO
USE [master]
GO
